

.page > a {
    text-decoration: none;
    color:black;
}

.page {
    margin-bottom: 80px;
}

.homeimg{
    width: 100%;
    height:35rem;
    border-radius: 40px;
    object-fit: cover;
    opacity: 0.9;
}

.pro-card {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: all 0.6s;
}
.pro-card:hover {
    transform: scale(1.1);
}
.pro-card:hover .top-price {
    padding: 0 10px;
    background-color: rgb(255, 140, 0);
}
.top-d {
    display: none;
}
.pro-card:hover .top-d {
    display: block;
}
.fa-heart {
    color:red;
    position: absolute;
    right: 20px;

}
.ratingdiv {
    margin-top: -20px
}

.proimg {
    width: 25em;
    border-radius: 20px;
    height: 25em;
}
.tb > img {
    width: 5em;
    height: 5em;
    border-radius: 20px;
    margin-right: 25px;
}
.details {
    width: 430px;
    margin-left: 100px;
}
.whole {
    max-width: 1000px;
    margin:auto;
}
.priceoff {
    border-radius: 10px;
    padding: 7px;
    font-size: 18px;
    color: rgb(255, 140, 0);
    background-color: rgb(245, 225, 191);
}
.buttons{
    height: 40px;
}
.valminus {
    margin-left: 15px;
}
.val {
    width: 120px;
    background-color: rgb(247, 244, 244);
    list-style-type: none;
    height: 100%;
}
.addtocart {
    cursor: pointer;
    width: 200px;
    color:white;
    background-color: rgb(255, 140, 0);
}
.valminus,.valplus {
    cursor: pointer;
}
.top-img > img {
    width: 98%;
    margin:5px 10px;
    border-radius: 40px;
}
@media only screen and (max-width: 600px) {
    
    .details {
        margin-left: 10px;
    }
    .whole{
        margin-left: 0;
    }
    .heading {
        margin-top: 20px;
    }
    .navbar-nav {
        margin-left: 0;
    }
    .tb > img {
        width: 4.5em;
    }
    /* .top-img > img {
        display: none;
    } */
}